/* Write your CSS here */
.not-found-container {
  display: flex;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: bree Serif;
}
